
html, body {
  font-family: "Inter var";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
    
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--app-container-bg-color); }    
::-webkit-scrollbar-thumb { background: var(--app-bg-color); }    
::-webkit-scrollbar-thumb:hover { background: var(--app-bg-color) }
    
* {
    box-sizing: border-box;
}

/* progress bar */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: rgb(13,148,136);
    opacity: 0.75;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/* app */
@media screen and (min-device-width: 600px) {
#app {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    position: fixed;
    display: flex;
    background-color: var(--app-bg-color);
    background-image: var(--background-img);
    background-size: cover;
    color: var(--app-text-color);
}
.app-container {
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 0 60px var(--app-container-bg-shadow);
}
.v-tablet #app, .v-phone #app, .v-boxed #app {
    /* padding: 20px; */
}
.v-boxed .app-container {
    border-radius: 10px;
}
.v-tablet .app-container {
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}
.v-phone  .app-container {
    border-radius: 10px;
    aspect-ratio: 9 / 19.5;
}
.app-float {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
    
header {
    display: flex;
    height: 60px;
}
footer {
    display: flex;
    height: 60px;
}
routerSide {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.logo {
    padding-left: 20px;
    display: flex;
    font-weight: 600;
    align-items: center;
}

.p-button:focus {
    outline: none;
}
    
/* navigation */
.appnav {
    position: absolute;
    z-index: 100;
    right: -100%;
    top: 0;
    width: 22rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--app-bg-color);
    border-left: 1px solid var(--app-border-color);
    transition: right .3s ease-in-out;
}
.appnav.open { right: 0; }
.nav-top {
    height: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-close {
    position: absolute;
    right: 20px;
    top: 20px;
}
.nav-bottom {
    margin-top: auto;
    padding: 20px;
}
.nav-container {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
    
/* aside */
aside {
    width: 16rem;
    display: flex;
    flex-direction: column;
    background-color: var(--app-container-bg-color);
    border-right: 1px solid var(--app-border-color);
    background-image: var(--app-aside-bg-img);
    background-size: cover;
}
.aside-top {
    min-height: 60px;
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
}
.aside-bottom {
    margin-top: auto;
    padding: 20px;
}
.aside-container {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
}

/* bside */
bside {
    width: 16rem;
    display: flex;
    flex-direction: column;
    background-color: var(--app-container-bg-color);
    border-right: 1px solid var(--app-border-color);
    background-image: var(--app-aside-bg-img);
    background-size: cover;
}
.bside-top {
    min-height: 60px;
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
}
.bside-bottom {
    margin-top: auto;
    padding: 20px;
}
.bside-container {
    flex: 1;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
}
    
/* main */
main {
    height: calc(100% - 80px);
    flex: 1;
    display: flex;
}
.main-container {
    width: 100%;
    height: calc(100% - 80px);
    flex: 1;
    padding: 30px 30px;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--app-container-bg-color);
    position: absolute;
    left: 0;
    transition: left .3s ease-in-out, width .3s ease-in-out;
}
.main-container.aside {
    left: 16rem;
    width: calc(100% - 16rem);
}
.v-phone .main-container.aside {
    left: 0;
    width: 100%;
}
    
.grid-menu {
    display: flex;
    gap: 14px;
}
.grid-menu.col {
    flex-direction: column;
    padding: 0;
}
.grid-menu > * {
    flex: 1;
}
.grid-menu a {
    display: block;
    padding: 10px;
    background-color: var(--app-border-color);
    border-radius: 6px;
    min-height: 100px;
}


}


@media only screen and (max-device-width: 600px) {
    #app {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0;
        position: fixed;
        background-color: var(--app-bg-color);
        background-image: var(--app-bg-img);
        background-size: cover;
        color: var(--app-text-color);
    }
    .app-container {
        height: 100%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--app-container-bg-color);
        border-radius: 0;
        overflow: hidden;
        box-shadow: 0 0 60px var(--app-container-bg-shadow);
    }
    .v-tablet #app, .v-phone #app, .v-boxed #app {
        padding: 0px;
    }
    .v-boxed .app-container {
        border-radius: 0px;
    }
    .v-tablet .app-container {
        border-radius: 10px;
        aspect-ratio: 16 / 9;
    }
    .v-phone  .app-container {
        border-radius: 10px;
        aspect-ratio: 9 / 19.5;
    }
    .app-float {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
        
    /* header */
    header {
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--app-border-color);
    }
    .logo {
        padding-left: 20px;
        display: flex;
        font-weight: 600;
        align-items: center;
    }
    
    .p-button:focus {
        outline: none;
    }
        
    /* navigation */
    .appnav {
        position: absolute;
        z-index: 100;
        right: -100%;
        top: 0;
        width: 15rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--app-bg-color);
        border-left: 1px solid var(--app-border-color);
        transition: right .3s ease-in-out;
    }
    .appnav.open { right: 0; }
    .nav-top {
        height: 80px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        position: relative;
    }
    .nav-close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .nav-bottom {
        margin-top: auto;
        padding: 20px;
    }
    .nav-container {
        flex: 1;
        padding: 20px;
        overflow: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }
        
    /* aside */
    aside {
        width: 16rem;
        display: flex;
        flex-direction: column;
        background-color: var(--app-container-bg-color);
        border-right: 1px solid var(--app-border-color);
        background-image: var(--app-aside-bg-img);
        background-size: cover;
    }
    .aside-top {
        min-height: 60px;
        padding: 10px 0 10px 20px;
        display: flex;
        align-items: center;
    }
    .aside-bottom {
        margin-top: auto;
        padding: 20px;
    }
    .aside-container {
        flex: 1;
        padding: 20px;
        overflow: hidden;
        overflow-y: auto;
    }
        
    /* main */
    main {
        height: calc(100% - 80px);
        flex: 1;
        display: flex;
    }
    .main-container {
        width: 100%;
        height: 100%;
        flex: 1;
        padding: 30px 30px;
        overflow: hidden;
        overflow-y: auto;
        background-color: var(--app-container-bg-color);
        position: absolute;
        left: 0;
        transition: left .3s ease-in-out, width .3s ease-in-out;
    }
    .main-container.aside {
        left: 16rem;
        width: calc(100% - 16rem);
    }
    .v-phone .main-container.aside {
        left: 0;
        width: 100%;
    }
        
    .grid-menu {
        display: flex;
        gap: 14px;
    }
    .grid-menu.col {
        flex-direction: column;
        padding: 0;
    }
    .grid-menu > * {
        flex: 1;
    }
    .grid-menu a {
        display: block;
        padding: 10px;
        background-color: var(--app-border-color);
        border-radius: 6px;
        min-height: 100px;
    }
    
    
}
