/* @import 'layout.css';
@import 'markdown.css';

html.dark {
  @import url('../prime/prime-dark-theme.css');
  @import './dark-theme.css';
  @import '../prime/prime-dark-theme.css';
}

html::not(.dark) {
  @import url('../prime/prime-light-theme.css');
  @import './light-theme.css';
  @import '../prime/prime-light-theme.css';
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
} */
